{% extends 'layout.html.twig' %}

{% block title %}
	Zero #{{ data.entity.id }}
{% endblock title %}

{% block content %}

	{% embed '@MazariniBootstrap/crud/_view.html.twig' with {'data': data } %}

		{% block content %}
			<tr>
				<th>Id</th>
				<td>{{ data.entity.id }}</td>
			</tr>
			<tr>
				<th>Col3</th>
				<td>{{ data.entity.col3 }}</td>
			</tr>
			<tr>
				<th>Col4</th>
				<td>{{ data.entity.col4 }}</td>
			</tr>
		{% endblock content %}

		{% block edit %}
			{{ parent() }}
		{% endblock edit %}

		{% block delete %}
			{{ parent() }}
		{% endblock delete %}

		{% block back %}
			{{ parent() }}
		{% endblock back %}

	{% endembed %}

{% endblock content %}
