{# templates/layout.html.twig #}

{%- extends 'base.html.twig' -%}

{% block title_head %}
	Title
{% endblock title_head %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		body {
			padding-top: 2rem;
		}
	</style>
{% endblock stylesheets %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
				<div class="list-group">
					<a href="{{ path('user_index') }}" class="list-group-item list-group-item-action">
						User
					</a>
				</div>
				<div class="list-group">
					<a href="{{ path('example_page_index') }}" class="list-group-item list-group-item-action">
						Pagination
					</a>
				</div>
				<div class="list-group">
					<a href="{{ path('example_index') }}" class="list-group-item list-group-item-action">
						Example
					</a>
				</div>
				<div class="list-group">
					<a href="{{ path('five_index') }}" class="list-group-item list-group-item-action">
						Five pages
					</a>
				</div>
				<div class="list-group">
					<a href="{{ path('empty_row_index') }}" class="list-group-item list-group-item-action">
						Empty table
					</a>
				</div>
			</div>
			<div class="col-9">
				<h1>
					{% block title %}{% endblock title %}
				</h1>
				{% block content %}{% endblock content %}
			</div>
		</div>
	</div>
{% endblock body %}
{% block static %}
	{% if data.isSetEntity %}
		{{ include('@MazariniCrud/_delete_form.html.twig') }}
	{% endif %}
{% endblock static %}
